.container {
  position: relative;
  width: 100%;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: var(--window-max-width);
  width: var(--width-width);
  display: flex;
  padding: 12px 0;
  align-items: center;
}
.logo-block {
}
.logo-block p {
  color: white;
  font-weight: 600;
  font-size: 110%;
}
.right-block {
  position: relative;
  margin-right: 0;
  margin-left: auto;
}
.header-nav-wrapper {
  position: relative;
  display: flex;
  grid-gap: 30px;
  margin-left: auto;
  margin-right: 0;
}
.header-nav-wrapper a {
  color: white;
}